@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,100&family=Exo+2:ital,wght@0,700;0,800;0,900;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,700;1,400&family=Roboto:wght@100;300;400;500;700&display=swap');

$blue: #4834D4;
$red: #EB4D4B;

@mixin button() {/* creando un conjunto de estilos q seran reutilizados */
    outline: none;
    border: none;
    height: 4rem;
    width: 16rem;
    background: $blue;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    margin: .5rem 0  ;
    border-radius: 5rem;
    text-transform: capitalize;

    &:hover{
        background: $red;
        letter-spacing: .1rem
    }
}

@mixin encabezado() {/* creando un conjunto de estilos q seran reutilizados */
    color: $blue;
    text-align: center;
    font-size: 3rem;
    padding-top: 5rem;
    margin: 2rem 0;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translateX(-50%);
        height: .3rem;
        width: 60%;
        background: $red;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-transform: capitalize;
    font-family: 'Exo 2', sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;/* te lleva a la seccion linkeada */
}

body{
    overflow-x: hidden ;
}

/* ------------------------header--------------------------------------- */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
    color: #fff;

    .fa-bars{
        font-size: 3rem;
        z-index: 10000;
        cursor: pointer;
    }

    .logo{
        color: #fff;
        font-size: 2rem;
        text-decoration: none;

        i{
            padding: 0 .5rem;
        }

        h1{
            display: inline;
        }

        &:hover{
            text-decoration: none;
        }
    }

    .compra {

        .fa-shopping-cart{
            font-size: 2rem;
            cursor: pointer;
        }

        .buscar-container{
            display: inline;
            position: relative;/* se ve afectado x los hermanos, está en flujo o hilera */

            #buscar{
                position: absolute;/*  se ve afectado x el padre, y se sobrepone elementos */
                top: -1.5rem;
                right: .8rem;
                height: 3.5rem;
                width: 3.5rem;
                font-size: 1.5rem;
                padding: 0 1rem;
                border: none;
                outline: none;
                border-radius: 5rem;

                &:hover,
                &:focus{
                    width: 25rem;
                }
            }

            .fa-search{
                position: absolute;
                top: -.7rem;
                left: -3.5rem;
                font-size: 2rem;
                cursor: pointer;
                z-index: 1;
                color: #333;

                &:hover ~ #buscar{
                    width: 25rem; 
                }
            }
        }
    }

    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: rgba(0, 0, 0, 0.9);
        padding: 0;
        display: none;

        ul{
            height: 100%;
            width: 35rem;
            background: #333;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;/* hccer vertical una fila de elementos */
            list-style: none; /* quitar los giones de los enlaces */

            li{
                margin: .5rem 0;

                a{
                    display: block; /* el 'a' es inline x defoult  */
                    height: 4rem;
                    width: 25rem;
                    background: #fff;
                    color: #333;
                    border-radius: 5rem;
                    text-align: center;
                    font-size: 2rem;
                    line-height: 4rem;
                    text-decoration: none;

                    &:hover{
                        background: $red;
                        letter-spacing: .3rem;
                        color: #fff;
                    }
                }
            }
        }
    }
}

/* ------------------------inicio--------------------------------------- */
#inicio{
    background: #333;
    
    .slide{
        min-height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .imagen{

            img{
                width: 50vw;
                
            }
        }

        .contenido{
            padding: 0 6rem;
            
             h1{
                font-size: 4rem;
                color: #fff;
             }

             p{
                 font-size: 1.7rem;
                 color: #ccc;
             }

             .estrellas{
                 margin: 1rem;

                 i{
                     font-size: 1.5rem;
                     padding-right: .4rem;
                     color: gold;
                 }
             }

             .precio{
                 color: $red;
                 font-size: 3.5rem;
                 margin: .5rem 0;
             }

             button{
                 @include button()/* llamando a un conjunto de estilos */
                
             }
        }
    }

    .owl-nav{
        .owl-next, .owl-prev{
            position: absolute;
            top: 45%;
            transform: translateY(-50%);
            color: $red;
            font-size: 6rem;
            background: none;
            border: none;
            outline: none;
        }

        .owl-next{
            right: 1rem;
        }
        .owl-prev{
            left: 1rem;
        }
    }

    .owl-dots{
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);

        .owl-dot{
            border: none;
            outline: none;
        }
    }
}

/* ------------------------productos--------------------------------------- */
#productos{
    display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: column;
   width: 100vw;/* llamando a un conjunto de estilos */

   .encabezado{
       @include encabezado()
   }

   .producto-container{
       width: 90%;

       .owl-nav{
            .owl-next, .owl-prev{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                color: $red;
                font-size: 6rem;
                background: none;
                border: none;
                outline: none;
            }

            .owl-next{
                right: 1rem;
            }
            .owl-prev{
                left: 1rem;
            }
        }

       .titulo{
           font-size: 3rem;
           color: $red;
           margin-top: 5rem;
           margin-left: 6rem;
       }

       .producto-slider{

           .producto-card{
               height: 40rem;
               width: 30rem;
               margin: 2rem auto;
               box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
               border-radius: .5rem;
               position: relative;

               .imagen{
                   height: 75%;
                   width: 100%;

                   img{
                       height: 100%;
                       width: 100%;
                       object-fit: cover;
                   }
               }

               .contenido{
                   height: 25%;
                   width: 100%;
                   text-align: center;

                   h3{
                       font-size: 3rem;
                       color: $blue;
                   }

                   .estrellas{
                       i{
                           color: gold;
                       }
                   }

                   .precio{
                       font-size: 2rem;
                       color: $red;
                   }
               }

               .detalle{
                   position: absolute;
                   top: 0;
                   left: 0;
                   height: 100%;
                   width: 100%;
                   background: #333;
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   flex-flow: column;
                   transition-delay: .2s;
                   transform: scale(0);/* para ocultar */

                   h4{
                       font-size: 4rem;
                       color: #fff;
                   }

                   p{
                       font-size: 1.2rem;
                       padding: 1rem 2rem;
                       color: #ccc;
                       text-align: center;
                   }

                   button{
                       @include button();
                       margin-top: 1rem;
                       background: $red;

                       &:hover{
                           background: $blue;
                       }
                   }

                   .redes{
                       margin-top: 4rem;

                       a{
                           font-size: 2rem;
                           height: 4rem;
                           width: 4rem;
                           line-height: 4rem;
                           text-align: center;
                           background: #fff;
                           color: $red;
                           margin: 0 .5rem;
                           border-radius: 5rem;
                           text-decoration: none;

                           &:hover{
                               background: $red;
                               color: #fff;
                           }
                       }
                   }
               }

               &:hover .detalle{
                   transform: scale(1);/* para mostrar */
               }
           }
       }
   }
}

/* ------------------------comentario--------------------------------------- */
#comentarios{
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background: url(../imagenes/review-bg.jpg), linear-gradient($blue,$blue), no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;/* se fija en la pantalla y no se mueve con el scroll */
    background-blend-mode: screen;/* se mezcla la imagen con el color */

    .owl-nav {
		.owl-next, .owl-prev {
			position: absolute;
			top: 0%;
			transform: translateY(-50%);
			color: $red;
			font-size: 6rem;
			background: none;
			border: none;
			outline: none;
		}

		.owl-next{
            right: 5rem;
        }

        .owl-prev {
			left: 5rem;
		}
    }

    .encabezado{
        @include encabezado();
        color: $red;
        padding-top: 8rem;

        &::after{
            background: #fff;
        }
    }

    .caja-container{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .comentario-slider{

            .caja{
                display: flex;
                align-items: center;
                justify-content: center;

                .imagen{
                    margin-top: 10rem;
                    margin-left: 3rem;

                    img{
                        height: 10rem;
                        width: 10rem;
                        border-radius: 50% 50% 50% 0;
                        border: 0.5rem solid $red;
                    }
                }

                .comentario{
                    height: 20rem;
                    width: 45rem;
                    background: #fff;
                    border-radius: 2% 2% 2% 40%;
                    padding-top: 2rem;

                    p{
                        color: #333;
                        font-size: 1.6rem;
                        padding: 2rem;

                        i{
                            color: $red;
                            font-size: 2rem;
                            padding: 0 .5rem;
                        }
                    }

                    h3{
                        text-align: end;
                        color: $red;
                        margin: .5rem 2rem;
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }
}


/* ------------------------ofertas--------------------------------------- */
#ofertas{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    .encabezado{
        @include encabezado();
    }

    .imagenes{
        min-height: 20vh;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;/* estan en una sola linea o pueden fluir en varias lineas */

        .caja{
            height: 25rem;
            width: 30rem;
            text-align: center;
            margin: 2rem;

            img{
                height: 20rem;
                width: 30rem;
            }

            h3{
                color: $red;
                font-size: 2.5rem;
                margin: 1rem 0;
            }
        }
    }

    .acuerdos{
        background: url(../imagenes/deal-bg.jpg), linear-gradient($red,$red), no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-blend-mode: screen;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5rem 0;
        width: 100%;

        .imagen{
            img{
                height: 50vh;
            }
        }

        .contenido{
            text-shadow: .1rem .1rem .3rem #333;

            h4{
                font-size: 4rem;
                color: $blue;
            }

            p{
                font-size: 2rem;
                color: #fff;
            }

            .estrellas{
                i{
                    color: gold;
                    font-size: 1.5rem;
                }
            }

            .precio{
                font-size: 3rem;
                color: #fff;
            }

            button{
                @include button();

                &:hover{
                    background: #333;
                }
            }
        }
    }
}

/* ------------------------marcas--------------------------------------- */
#marcas{
    .marca-slider{
        img{
            height: 10rem;
            width: 15rem;
            margin: 4rem auto;
        }
    }
}

/* ------------------------noticias--------------------------------------- */
#noticias{
    width: 100vw;
    background: url(../imagenes/letter-bg.jpg), linear-gradient(rgba(0, 0, 255 ,0.4),rgba(0, 0, 255 ,0.4)), no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 6rem 0;
    text-align: center;

    h1{
        font-size: 6rem;
        color: #fff;
    }

    p{
        font-size: 3rem;
        color: #f9f9f9;
    }

    .subscribe-txt{
        outline: none;
        border: none;
        background: #333;
        color: #fff;
        height: 4rem;
        width: 34rem;
        border-radius: 5rem;
        font-size: 1.5rem;
        padding: 1.5rem;
        text-transform: none;

        &::placeholder{
            color: #ccc;
        }
    }

    .subscribe-btn{
        display: inline;
        @include button();
        background: $red;
        margin-top: 2rem;

        &:hover{
            background: #333;
        }
    }
}

/* ------------------------footer--------------------------------------- */
#footer{
    padding: 2rem 0;
    background: #333;
    width: 100vw;

    .row{
        width: 100%;
        margin: 0;
    }

    .marca-detalle{
        margin: 1rem;
        padding: 0;

        a{
            color: #fff;
            text-decoration: none;

            i{
                padding: 0 .5rem;
                font-size: 2rem;
            }

            h3{
                display: inline;
                font-size: 2rem;
            }
        }

        p{
            color: #ccc;
            padding: 2rem;
            margin: 0;
            font-size: 1.5rem;
        }
    }

    .links, .redes{
        padding: 0;
        margin: 1rem;

        h3{
            font-size: 2rem;
            color: #fff;
        }

        .nav-links, .redes-links{
            display: flex;
            flex-flow: column;

            a{
                color: #ccc;
                font-size: 1.5rem;
                text-decoration: none;
            }
        }
    }

    .creditos{
        color: #fff;
        font-size: 2rem;
        padding-top: 1.5rem;
        width: 100%;
        border-top: 0.1rem solid rgba(255, 255, 255 ,0.5);

        span{
            color: $red;
        }
    }
}

.fa-times{
    transform: translateX(27rem);
    padding-top: 1rem;
}








@media (max-width: 768px){
    html{
        font-size: 55%;
    }

    #inicio{
        padding-bottom: 4rem;

        .owl-dots{
            display: none;
        }

        .slide{
            flex-flow: column-reverse;

            .contenido{
                padding: 1rem;
            }

            .imagen{
                img{
                    width: 100vw;
                }
            }
        }
    }

    #productos{
        .producto-container{
            .titulo{
                margin-left: 0;
                text-align: center;
            }
        }
    }

    #ofertas{
        .acuerdos{
            flex-flow: column;

            .imagen{
                img{
                    height: auto;
                    width: 100%;
                }
            }

            .contenido{
                text-align: center;
            }
        }
    }
}

@media (max-width: 600px){
    #comentarios{
        .encabezado{
            padding-top: 10rem;
        }

        .caja-container{
            .comentario-slider{
                .caja{
                    position: relative;
                    height: 40vh;

                    .imagen{
                        position: absolute;
                        top: 0;
                        margin: 0;

                        img{
                            border-radius: 5rem;
                        }
                    }

                    .comentario{
                        border-radius: 1rem;
                        text-align: center;
                        width: 35rem;

                        h3{
                            text-align: center;
                            margin-top: -2rem;
                        }
                    }
                }
            }
        }
    }

    #noticias{
        h1{
            font-size: 4rem;
        }

        p{
            font-size: 2rem;
        }
    }
}