@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,100&family=Exo+2:ital,wght@0,700;0,800;0,900;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,700;1,400&family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  text-transform: capitalize;
  font-family: 'Exo 2', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* te lleva a la seccion linkeada */
}

body {
  overflow-x: hidden;
}

/* ------------------------header--------------------------------------- */
#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 2.5rem;
  color: #fff;
}

#header .fa-bars {
  font-size: 3rem;
  z-index: 10000;
  cursor: pointer;
}

#header .logo {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
}

#header .logo i {
  padding: 0 .5rem;
}

#header .logo h1 {
  display: inline;
}

#header .logo:hover {
  text-decoration: none;
}

#header .compra .fa-shopping-cart {
  font-size: 2rem;
  cursor: pointer;
}

#header .compra .buscar-container {
  display: inline;
  position: relative;
  /* se ve afectado x los hermanos, está en flujo o hilera */
}

#header .compra .buscar-container #buscar {
  position: absolute;
  /*  se ve afectado x el padre, y se sobrepone elementos */
  top: -1.5rem;
  right: .8rem;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 1.5rem;
  padding: 0 1rem;
  border: none;
  outline: none;
  border-radius: 5rem;
}

#header .compra .buscar-container #buscar:hover, #header .compra .buscar-container #buscar:focus {
  width: 25rem;
}

#header .compra .buscar-container .fa-search {
  position: absolute;
  top: -.7rem;
  left: -3.5rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
  color: #333;
}

#header .compra .buscar-container .fa-search:hover ~ #buscar {
  width: 25rem;
}

#header .navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.9);
  padding: 0;
  display: none;
}

#header .navbar ul {
  height: 100%;
  width: 35rem;
  background: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  /* hccer vertical una fila de elementos */
  list-style: none;
  /* quitar los giones de los enlaces */
}

#header .navbar ul li {
  margin: .5rem 0;
}

#header .navbar ul li a {
  display: block;
  /* el 'a' es inline x defoult  */
  height: 4rem;
  width: 25rem;
  background: #fff;
  color: #333;
  border-radius: 5rem;
  text-align: center;
  font-size: 2rem;
  line-height: 4rem;
  text-decoration: none;
}

#header .navbar ul li a:hover {
  background: #EB4D4B;
  letter-spacing: .3rem;
  color: #fff;
}

/* ------------------------inicio--------------------------------------- */
#inicio {
  background: #333;
}

#inicio .slide {
  min-height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#inicio .slide .imagen img {
  width: 50vw;
}

#inicio .slide .contenido {
  padding: 0 6rem;
}

#inicio .slide .contenido h1 {
  font-size: 4rem;
  color: #fff;
}

#inicio .slide .contenido p {
  font-size: 1.7rem;
  color: #ccc;
}

#inicio .slide .contenido .estrellas {
  margin: 1rem;
}

#inicio .slide .contenido .estrellas i {
  font-size: 1.5rem;
  padding-right: .4rem;
  color: gold;
}

#inicio .slide .contenido .precio {
  color: #EB4D4B;
  font-size: 3.5rem;
  margin: .5rem 0;
}

#inicio .slide .contenido button {
  /* creando un conjunto de estilos q seran reutilizados */
  outline: none;
  border: none;
  height: 4rem;
  width: 16rem;
  background: #4834D4;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  margin: .5rem 0;
  border-radius: 5rem;
  text-transform: capitalize;
  /* llamando a un conjunto de estilos */
}

#inicio .slide .contenido button:hover {
  background: #EB4D4B;
  letter-spacing: .1rem;
}

#inicio .owl-nav .owl-next, #inicio .owl-nav .owl-prev {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #EB4D4B;
  font-size: 6rem;
  background: none;
  border: none;
  outline: none;
}

#inicio .owl-nav .owl-next {
  right: 1rem;
}

#inicio .owl-nav .owl-prev {
  left: 1rem;
}

#inicio .owl-dots {
  position: absolute;
  bottom: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#inicio .owl-dots .owl-dot {
  border: none;
  outline: none;
}

/* ------------------------productos--------------------------------------- */
#productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100vw;
  /* llamando a un conjunto de estilos */
}

#productos .encabezado {
  /* creando un conjunto de estilos q seran reutilizados */
  color: #4834D4;
  text-align: center;
  font-size: 3rem;
  padding-top: 5rem;
  margin: 2rem 0;
  position: relative;
}

#productos .encabezado::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: .3rem;
  width: 60%;
  background: #EB4D4B;
}

#productos .producto-container {
  width: 90%;
}

#productos .producto-container .owl-nav .owl-next, #productos .producto-container .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #EB4D4B;
  font-size: 6rem;
  background: none;
  border: none;
  outline: none;
}

#productos .producto-container .owl-nav .owl-next {
  right: 1rem;
}

#productos .producto-container .owl-nav .owl-prev {
  left: 1rem;
}

#productos .producto-container .titulo {
  font-size: 3rem;
  color: #EB4D4B;
  margin-top: 5rem;
  margin-left: 6rem;
}

#productos .producto-container .producto-slider .producto-card {
  height: 40rem;
  width: 30rem;
  margin: 2rem auto;
  -webkit-box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
  border-radius: .5rem;
  position: relative;
}

#productos .producto-container .producto-slider .producto-card .imagen {
  height: 75%;
  width: 100%;
}

#productos .producto-container .producto-slider .producto-card .imagen img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#productos .producto-container .producto-slider .producto-card .contenido {
  height: 25%;
  width: 100%;
  text-align: center;
}

#productos .producto-container .producto-slider .producto-card .contenido h3 {
  font-size: 3rem;
  color: #4834D4;
}

#productos .producto-container .producto-slider .producto-card .contenido .estrellas i {
  color: gold;
}

#productos .producto-container .producto-slider .producto-card .contenido .precio {
  font-size: 2rem;
  color: #EB4D4B;
}

#productos .producto-container .producto-slider .producto-card .detalle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  -webkit-transform: scale(0);
          transform: scale(0);
  /* para ocultar */
}

#productos .producto-container .producto-slider .producto-card .detalle h4 {
  font-size: 4rem;
  color: #fff;
}

#productos .producto-container .producto-slider .producto-card .detalle p {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  color: #ccc;
  text-align: center;
}

#productos .producto-container .producto-slider .producto-card .detalle button {
  /* creando un conjunto de estilos q seran reutilizados */
  outline: none;
  border: none;
  height: 4rem;
  width: 16rem;
  background: #4834D4;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  margin: .5rem 0;
  border-radius: 5rem;
  text-transform: capitalize;
  margin-top: 1rem;
  background: #EB4D4B;
}

#productos .producto-container .producto-slider .producto-card .detalle button:hover {
  background: #EB4D4B;
  letter-spacing: .1rem;
}

#productos .producto-container .producto-slider .producto-card .detalle button:hover {
  background: #4834D4;
}

#productos .producto-container .producto-slider .producto-card .detalle .redes {
  margin-top: 4rem;
}

#productos .producto-container .producto-slider .producto-card .detalle .redes a {
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  text-align: center;
  background: #fff;
  color: #EB4D4B;
  margin: 0 .5rem;
  border-radius: 5rem;
  text-decoration: none;
}

#productos .producto-container .producto-slider .producto-card .detalle .redes a:hover {
  background: #EB4D4B;
  color: #fff;
}

#productos .producto-container .producto-slider .producto-card:hover .detalle {
  -webkit-transform: scale(1);
          transform: scale(1);
  /* para mostrar */
}

/* ------------------------comentario--------------------------------------- */
#comentarios {
  height: 90vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background: url(../imagenes/review-bg.jpg), -webkit-gradient(linear, left top, left bottom, from(#4834D4), to(#4834D4)), no-repeat;
  background: url(../imagenes/review-bg.jpg), linear-gradient(#4834D4, #4834D4), no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* se fija en la pantalla y no se mueve con el scroll */
  background-blend-mode: screen;
  /* se mezcla la imagen con el color */
}

#comentarios .owl-nav .owl-next, #comentarios .owl-nav .owl-prev {
  position: absolute;
  top: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #EB4D4B;
  font-size: 6rem;
  background: none;
  border: none;
  outline: none;
}

#comentarios .owl-nav .owl-next {
  right: 5rem;
}

#comentarios .owl-nav .owl-prev {
  left: 5rem;
}

#comentarios .encabezado {
  /* creando un conjunto de estilos q seran reutilizados */
  color: #4834D4;
  text-align: center;
  font-size: 3rem;
  padding-top: 5rem;
  margin: 2rem 0;
  position: relative;
  color: #EB4D4B;
  padding-top: 8rem;
}

#comentarios .encabezado::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: .3rem;
  width: 60%;
  background: #EB4D4B;
}

#comentarios .encabezado::after {
  background: #fff;
}

#comentarios .caja-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#comentarios .caja-container .comentario-slider .caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#comentarios .caja-container .comentario-slider .caja .imagen {
  margin-top: 10rem;
  margin-left: 3rem;
}

#comentarios .caja-container .comentario-slider .caja .imagen img {
  height: 10rem;
  width: 10rem;
  border-radius: 50% 50% 50% 0;
  border: 0.5rem solid #EB4D4B;
}

#comentarios .caja-container .comentario-slider .caja .comentario {
  height: 20rem;
  width: 45rem;
  background: #fff;
  border-radius: 2% 2% 2% 40%;
  padding-top: 2rem;
}

#comentarios .caja-container .comentario-slider .caja .comentario p {
  color: #333;
  font-size: 1.6rem;
  padding: 2rem;
}

#comentarios .caja-container .comentario-slider .caja .comentario p i {
  color: #EB4D4B;
  font-size: 2rem;
  padding: 0 .5rem;
}

#comentarios .caja-container .comentario-slider .caja .comentario h3 {
  text-align: end;
  color: #EB4D4B;
  margin: .5rem 2rem;
  font-size: 2.5rem;
}

/* ------------------------ofertas--------------------------------------- */
#ofertas {
  min-height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

#ofertas .encabezado {
  /* creando un conjunto de estilos q seran reutilizados */
  color: #4834D4;
  text-align: center;
  font-size: 3rem;
  padding-top: 5rem;
  margin: 2rem 0;
  position: relative;
}

#ofertas .encabezado::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: .3rem;
  width: 60%;
  background: #EB4D4B;
}

#ofertas .imagenes {
  min-height: 20vh;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* estan en una sola linea o pueden fluir en varias lineas */
}

#ofertas .imagenes .caja {
  height: 25rem;
  width: 30rem;
  text-align: center;
  margin: 2rem;
}

#ofertas .imagenes .caja img {
  height: 20rem;
  width: 30rem;
}

#ofertas .imagenes .caja h3 {
  color: #EB4D4B;
  font-size: 2.5rem;
  margin: 1rem 0;
}

#ofertas .acuerdos {
  background: url(../imagenes/deal-bg.jpg), -webkit-gradient(linear, left top, left bottom, from(#EB4D4B), to(#EB4D4B)), no-repeat;
  background: url(../imagenes/deal-bg.jpg), linear-gradient(#EB4D4B, #EB4D4B), no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: screen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 0;
  width: 100%;
}

#ofertas .acuerdos .imagen img {
  height: 50vh;
}

#ofertas .acuerdos .contenido {
  text-shadow: .1rem .1rem .3rem #333;
}

#ofertas .acuerdos .contenido h4 {
  font-size: 4rem;
  color: #4834D4;
}

#ofertas .acuerdos .contenido p {
  font-size: 2rem;
  color: #fff;
}

#ofertas .acuerdos .contenido .estrellas i {
  color: gold;
  font-size: 1.5rem;
}

#ofertas .acuerdos .contenido .precio {
  font-size: 3rem;
  color: #fff;
}

#ofertas .acuerdos .contenido button {
  /* creando un conjunto de estilos q seran reutilizados */
  outline: none;
  border: none;
  height: 4rem;
  width: 16rem;
  background: #4834D4;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  margin: .5rem 0;
  border-radius: 5rem;
  text-transform: capitalize;
}

#ofertas .acuerdos .contenido button:hover {
  background: #EB4D4B;
  letter-spacing: .1rem;
}

#ofertas .acuerdos .contenido button:hover {
  background: #333;
}

/* ------------------------marcas--------------------------------------- */
#marcas .marca-slider img {
  height: 10rem;
  width: 15rem;
  margin: 4rem auto;
}

/* ------------------------noticias--------------------------------------- */
#noticias {
  width: 100vw;
  background: url(../imagenes/letter-bg.jpg), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 255, 0.4)), to(rgba(0, 0, 255, 0.4))), no-repeat;
  background: url(../imagenes/letter-bg.jpg), linear-gradient(rgba(0, 0, 255, 0.4), rgba(0, 0, 255, 0.4)), no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 6rem 0;
  text-align: center;
}

#noticias h1 {
  font-size: 6rem;
  color: #fff;
}

#noticias p {
  font-size: 3rem;
  color: #f9f9f9;
}

#noticias .subscribe-txt {
  outline: none;
  border: none;
  background: #333;
  color: #fff;
  height: 4rem;
  width: 34rem;
  border-radius: 5rem;
  font-size: 1.5rem;
  padding: 1.5rem;
  text-transform: none;
}

#noticias .subscribe-txt::-webkit-input-placeholder {
  color: #ccc;
}

#noticias .subscribe-txt:-ms-input-placeholder {
  color: #ccc;
}

#noticias .subscribe-txt::-ms-input-placeholder {
  color: #ccc;
}

#noticias .subscribe-txt::placeholder {
  color: #ccc;
}

#noticias .subscribe-btn {
  display: inline;
  /* creando un conjunto de estilos q seran reutilizados */
  outline: none;
  border: none;
  height: 4rem;
  width: 16rem;
  background: #4834D4;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  margin: .5rem 0;
  border-radius: 5rem;
  text-transform: capitalize;
  background: #EB4D4B;
  margin-top: 2rem;
}

#noticias .subscribe-btn:hover {
  background: #EB4D4B;
  letter-spacing: .1rem;
}

#noticias .subscribe-btn:hover {
  background: #333;
}

/* ------------------------footer--------------------------------------- */
#footer {
  padding: 2rem 0;
  background: #333;
  width: 100vw;
}

#footer .row {
  width: 100%;
  margin: 0;
}

#footer .marca-detalle {
  margin: 1rem;
  padding: 0;
}

#footer .marca-detalle a {
  color: #fff;
  text-decoration: none;
}

#footer .marca-detalle a i {
  padding: 0 .5rem;
  font-size: 2rem;
}

#footer .marca-detalle a h3 {
  display: inline;
  font-size: 2rem;
}

#footer .marca-detalle p {
  color: #ccc;
  padding: 2rem;
  margin: 0;
  font-size: 1.5rem;
}

#footer .links, #footer .redes {
  padding: 0;
  margin: 1rem;
}

#footer .links h3, #footer .redes h3 {
  font-size: 2rem;
  color: #fff;
}

#footer .links .nav-links, #footer .links .redes-links, #footer .redes .nav-links, #footer .redes .redes-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

#footer .links .nav-links a, #footer .links .redes-links a, #footer .redes .nav-links a, #footer .redes .redes-links a {
  color: #ccc;
  font-size: 1.5rem;
  text-decoration: none;
}

#footer .creditos {
  color: #fff;
  font-size: 2rem;
  padding-top: 1.5rem;
  width: 100%;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.5);
}

#footer .creditos span {
  color: #EB4D4B;
}

.fa-times {
  -webkit-transform: translateX(27rem);
          transform: translateX(27rem);
  padding-top: 1rem;
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  #inicio {
    padding-bottom: 4rem;
  }
  #inicio .owl-dots {
    display: none;
  }
  #inicio .slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  #inicio .slide .contenido {
    padding: 1rem;
  }
  #inicio .slide .imagen img {
    width: 100vw;
  }
  #productos .producto-container .titulo {
    margin-left: 0;
    text-align: center;
  }
  #ofertas .acuerdos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  #ofertas .acuerdos .imagen img {
    height: auto;
    width: 100%;
  }
  #ofertas .acuerdos .contenido {
    text-align: center;
  }
}

@media (max-width: 600px) {
  #comentarios .encabezado {
    padding-top: 10rem;
  }
  #comentarios .caja-container .comentario-slider .caja {
    position: relative;
    height: 40vh;
  }
  #comentarios .caja-container .comentario-slider .caja .imagen {
    position: absolute;
    top: 0;
    margin: 0;
  }
  #comentarios .caja-container .comentario-slider .caja .imagen img {
    border-radius: 5rem;
  }
  #comentarios .caja-container .comentario-slider .caja .comentario {
    border-radius: 1rem;
    text-align: center;
    width: 35rem;
  }
  #comentarios .caja-container .comentario-slider .caja .comentario h3 {
    text-align: center;
    margin-top: -2rem;
  }
  #noticias h1 {
    font-size: 4rem;
  }
  #noticias p {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=estilos.css.map */